{% extends 'layout.html.twig' %}

{% block content %}
<img src="{{ resource_url('/app/public/images/puli-logo.png') }}" />

<h1>Welcome to the Puli Demo Application!</h1>

<p>This application demonstrates the use of <a href="http://puli.io">Puli</a>,
<a href="http://silex.sensiolabs.org">Silex</a> and
<a href="http://gulpjs.com">Gulp JS</a> in a web application.</p>
{% endblock %}
